/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

/*NAV.........................................................*/
nav{
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 1s ease;
  animation-delay: 0.2s;
  font-family: 'Ubuntu', sans-serif;
}
nav.sticky{
  background-image: linear-gradient(to bottom, pink, aqua);
  padding: 13px 0;
}
nav .navbar{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
nav .navbar .logo a{
  font-weight: 500;
  font-size: 35px;
  color: rgb(255, 255, 255);
}
nav .navbar .logo a:hover{
  color: pink;
}
nav.sticky .navbar .logo a{
  color: #fff;
}
nav .navbar .menu{
  display: flex;
  position: relative;
}
nav .navbar .menu li{
  list-style: none;
  margin: 0 8px;
}
.navbar .menu a{
  font-size: 18px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  padding: 6px 0;
  transition: all 0.5s ease;
}
.navbar .menu a:hover
{
  color: pink;
}
.navbar .media-icons a:hover{
  color: pink;
}
nav.sticky .menu a{
  color: #FFF;
}
nav.sticky .menu a:hover{
  color: rgb(69, 69, 119);
}
nav.sticky .media-icons a:hover{
  color: rgb(69, 69, 119);
}
.navbar .media-icons a{
  color: #ffffff;
  font-size: 18px;
  margin: 0 6px;
}
nav.sticky .media-icons a{
  color: #FFF;
}
nav.sticky .navbar .logo a:hover{
  color: rgb(69, 69, 119);
}

 
nav .menu-btn,
.navbar .menu .cancel-btn{
  position: absolute;
  color: #fff;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
nav .menu-btn{
  color: aqua;
}
nav.sticky .menu-btn{
  color: #FFF;
}
.navbar .menu .menu-btn{
  color: #fff;
}

/* home.................................................................*/
.home{
  height: 100vh;
  width: 100%;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('wallpaper.jpg');
  opacity: 85%;
}
.home .home-content{
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .text-one{
  font-size: 25px;
  color: rgb(255, 182, 194);
}
.home .text-two{
  color: white;
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .text-three{
  font-size: 40px;
  margin: 5px 0;
  color: rgb(97, 252, 252);
}
.home .text-four{
  font-size: 23px;
  margin: 5px 0;
  color: rgb(255, 182, 194);
}
.home:hover{
  color: black;
}

/*HOME........................................................*/


section{
  padding-top: 40px;
  background-color: black;
  padding-bottom: 40px;
}
section .content{
  width: 80%;
  margin: 40px auto;
  font-family: 'Poppins', sans-serif;
}
section .title{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
section .title span{
  color: white;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}
section .title span::before,
section .title span::after{
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: pink;
  border-radius: 5px;
  left: 0;
  right: 0;
  bottom: 0;
}
section .title span::after{
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}
/*FOOTER................................................................................................*/


footer{
    background-image: linear-gradient(to bottom right, pink, aqua);
    padding: 15px 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  footer .text span{
    font-size: 17px;
    font-weight: 400;
    color: #fff;
  }
  footer .text span a{
    font-weight: 500;
    color: #FFF;
  }
  footer .text span a:hover{
    text-decoration: underline;
  }
  .scroll-button a{
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
    background-image: linear-gradient(to bottom right, aqua, pink);
    padding: 7px 12px;;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15);
    display: none;
  }
  
   
  #contact-form {
      display: flex;
      flex-direction: column;
      max-width: 400px;
      margin: 0 auto;
    }
     
  #contact {
      padding: 250px;
      text-align: center;
      color: white;
    }
  #m
  {
    outline: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    background-image: linear-gradient(to bottom right, aqua, pink);
    color: #fff;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  #m:hover{
    border-color: rgb(69, 69, 119);
    background-color: #fff;
    color: rgb(69, 69, 119);
  }
  #name, #email, #message{
      margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  } 
    