/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}


/*HOME........................................................*/


section{
    padding-top: 40px;
    background-color: black;
    padding-bottom: 40px;
  }
  section .content{
    width: 80%;
    margin: 40px auto;
    font-family: 'Poppins', sans-serif;
  }
  section .title{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  section .title span{
    color: white;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
  }
  section .title span::before,
  section .title span::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: pink;
    border-radius: 5px;
    left: 0;
    right: 0;
    bottom: 0;
  }
  section .title span::after{
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
  }
  

/*NAV.........................................................*/
nav{
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 1s ease;
  animation-delay: 0.2s;
  font-family: 'Ubuntu', sans-serif;
}
nav.sticky{
  background-image: linear-gradient(to bottom, pink, aqua);
  padding: 13px 0;
}
nav .navbar{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
nav .navbar .logo a{
  font-weight: 500;
  font-size: 35px;
  color: rgb(255, 255, 255);
}
nav .navbar .logo a:hover{
  color: pink;
}
nav.sticky .navbar .logo a{
  color: #fff;
}
nav .navbar .menu{
  display: flex;
  position: relative;
}
nav .navbar .menu li{
  list-style: none;
  margin: 0 8px;
}
.navbar .menu a{
  font-size: 18px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  padding: 6px 0;
  transition: all 0.5s ease;
}
.navbar .menu a:hover
{
  color: pink;
}
.navbar .media-icons a:hover{
  color: pink;
}
nav.sticky .menu a{
  color: #FFF;
}
nav.sticky .menu a:hover{
  color: rgb(69, 69, 119);
}
nav.sticky .media-icons a:hover{
  color: rgb(69, 69, 119);
}
.navbar .media-icons a{
  color: #ffffff;
  font-size: 18px;
  margin: 0 6px;
}
nav.sticky .media-icons a{
  color: #FFF;
}
nav.sticky .navbar .logo a:hover{
  color: rgb(69, 69, 119);
}

 
nav .menu-btn,
.navbar .menu .cancel-btn{
  position: absolute;
  color: #fff;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
nav .menu-btn{
  color: aqua;
}
nav.sticky .menu-btn{
  color: #FFF;
}
.navbar .menu .menu-btn{
  color: #fff;
}



/*Services..................................................................................*/
.services{
    padding: 190px;
    text-align: center;
}

.services .boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .services p{
    color: rgb(87, 87, 87);
  }
  .services .boxes .box{
    margin: 20px 0;
    width: calc(100% / 3 - 20px);
    text-align: center;
    border-radius: 12px;
    padding: 30px 10px;
    background-image: linear-gradient(to bottom right, rgb(193, 253, 253), rgb(253, 224, 229));
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    cursor: default;
    transition: all 0.4s ease;
    }
  
  .services .topic{
      color: rgb(87, 87, 87);
  }
  
     
  .services .boxes .box:hover{
    background-image: linear-gradient(to bottom right, aqua, pink);
    color: rgb(69, 69, 119);
  }
  .services .boxes .box .icon{
    height: 50px;
    width: 50px;
    background: pink;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: #fff;
    margin: 0 auto 10px auto;
    transition: all 0.4s ease;
  }
  .boxes .box:hover .icon{
    background-color: #fff;
    color: rgb(69, 69, 119);
  }
  .services .boxes .box:hover .topic,
  .services .boxes .box:hover p{
    color: white;
    transition: all 0.4s ease;
  }
  .services .boxes .box:hover .topic,
  .services .boxes .box:hover p{
    color: rgb(69, 69, 119);
  }
  #m
{
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  background-image: linear-gradient(to bottom right, aqua, pink);
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}
#m:hover{
  border-color: rgb(69, 69, 119);
  background-color: #fff;
  color: rgb(69, 69, 119);
}
  
  /*FOOTER................................................................................................*/
  
  
  footer{
    background-image: linear-gradient(to bottom right, pink, aqua);
    padding: 15px 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  footer .text span{
    font-size: 17px;
    font-weight: 400;
    color: #fff;
  }
  footer .text span a{
    font-weight: 500;
    color: #FFF;
  }
  footer .text span a:hover{
    text-decoration: underline;
  }
  .scroll-button a{
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
    background-image: linear-gradient(to bottom right, aqua, pink);
    padding: 7px 12px;;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15);
    display: none;
  }
  